*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-image: url(images/hero-cover.3.png);
    background-size: cover;
}
.navi{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;

}

.navi2 ul{
    display: flex;
}
.navi2 li{
    margin-right: 20px;
    list-style: none;
}
.navi3{
    display: flex;
}
.navi3 p{
    margin-right: 10px;
}
.navi3 button{
    background-color: #1d3183;
    border-radius: 8%;
}


.end{
    display: flex;
}

.end .copyright{
    margin: 10px;
}

.end .copyright p{
    font-family: 'poppins';
    font-size: 20px;
}

.end .socialmedia{
    display: flex;
    margin-top: 9px;
    margin-left: 30%;
}

.end .socialmedia img{
    width: 30px;
    padding-left: 15px;
}


.end .myname{
    margin-left: 10%;
    margin-top: 5px;
}

.end .myname p{
    font-family: 'poppins';
}

