*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}
header{
    background-image: url(images/hero-cover.3.png);
    background-size: cover;
}
.navi{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;

}

.navi2 ul{
    display: flex;
}
.navi2 li{
    margin-right: 20px;
    list-style: none;
}
.navi3{
    display: flex;
}
.navi3 p{
    margin-right: 10px;
}
.navi3 button{
    background-color: #1d3183;
    border-radius: 8%;
}




.kspb{
    display: flex;
}
.ksps{
    display: flex;
}





.ind2{
    display: flex;
}
.pimg{
    display: flex;
    height: 20px;
}





.partners{
    display: flex;
    align-content: center;
justify-content: space-evenly;
}
.partners img{
    height: 50px;
}




.subscribe{
    display: flex;
    justify-content: space-around;
    align-content: center;
}






.price2{
    display: flex;
    justify-content: space-evenly;
}








.world{
    display: flex;
}
.book{
    display: flex;
}


.consult{
    display: flex;
    justify-content: space-around;
}



footer{
    display: flex;
    justify-content: space-evenly;
}






.end{
    display: flex;
}

.end .copyright{
    margin: 10px;
}

.end .copyright p{
    font-family: 'montserrat';
    font-size: 20px;
}

.end .socialmedia{
    display: flex;
    margin-top: 9px;
    margin-left: 30%;
}

.end .socialmedia img{
    width: 30px;
    padding-left: 15px;
}


.end .myname{
    margin-left: 10%;
    margin-top: 5px;
}

.end .myname p{
    font-family: 'montserrat';
}

